@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Paytone+One&display=swap');

body {
  color: rgb(0,0,0);
  font-family: "Montserra", "Candara", "Arial", sans-serif;
  font-size: 16px;
}

h1 {
  font-size: 70px;
  color: rgb(75,0,130);
  font-family: "Paytone One", "Candara", "Arial", sans-serif;
  line-height: 24px;
}

figure{
  background-color: rgb(255,255,255);
  border: 2px solid rgb(75,0,130);
  padding: 10px;
  margin-top:10px;
  margin-bottom: 20px;
  display: table;
}

figcaption {
  font-family: "Montserra", "Candara", "Arial", sans-serif;
  font-size: 12px;
  font-style: italic;
  text-align: center;
  padding-top:5px;
  padding-bottom: 5px;
  color: rgb(75,0,130);
}

.website {
  font-family: "Montserra", "Candara", "Arial", sans-serif;
  font-size: 16px;
  font-style: italic;
}

nav ul {
  padding-left: 0;
  list-style-type: none;
  padding-bottom: 24px;
}

nav li{
  display: inline-block;
  margin-right: 50px;
  padding-top: 20px;
}

nav a{
  padding: 10px;
}

nav a:hover {
  background-color: rgb(255,250,240);
  padding-left: 20px;
}

a:link, a:active {
  color: rgb(128,0,128);
}

a:link, a:visited {
  color: rgb(169,169,169);
}

a:hover {
  background-color: rgb(245,245,245);
  padding: 10px;
}

#introduction {
  font-size: 40px;
  color: rgb(75,0,130);
  font-family: "Paytone One", "Candara", "Arial", sans-serif;
}

#geography {
  font-size: 40px;
  color: rgb(75,0,130);
  font-family: "Paytone One", "Candara", "Arial", sans-serif;
}

#people {
  font-size: 40px;
  color: rgb(75,0,130);
  font-family: "Paytone One", "Candara", "Arial", sans-serif;
}

#economy {
  font-size: 40px;
  color: rgb(75,0,130);
  font-family: "Paytone One", "Candara", "Arial", sans-serif;
}

h2 {
  font-size: 40px;
  color: rgb(75,0,130);
  font-family: "Paytone One", "Candara", "Arial", sans-serif;
}

p {
  color: rgb(0,0,0);
  font-family: "Montserra", "Candara", "Arial", sans-serif;
  font-size: 16px;
}

h3 {
  color: rgb(147,112,219);
  font-family: "Paytone One", "Candara", "Arial", sans-serif;
  font-size: 24px;
}

ul {
  list-style-type: circle;
  color: rgb(0,0,0);
  font-family: "Montserra", "Candara", "Arial", sans-serif;
  font-size: 16px;
}

table {
  border: solid 2px rgb(75,0,130);
  color: rgb(0,0,0);
  font-family: "Montserra", "Candara", "Arial", sans-serif;
  font-size: 16px;
  background-color: rgba(147,112,219, .2);
}

td, th {
  border: solid 1px rgb(75,0,130);
  padding: 10px;
  color: rgb(0,0,0);
  font-family: "Montserra", "Candara", "Arial", sans-serif;
  font-size: 16px;
}

#wrapper {
  max-width: 1000px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

h2 {
  margin-top: 0;
}

header, nav, footer {
  background-color: rgb(230,230,250);
}

header, footer {
  padding-left: 10px;
  grid-column: 1 / -1;
}

nav {
  padding-left: 10px;
}

main {
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-template-areas:
  "introduction"
  "geography"
  "people"
  "economy";
  grid-gap: 30px;
}

#introduction {
  grid-area: introduction;
}

#geography {
  grid-area: geography;
}

#people {
  grid-area: people;
}

#economy {
  grid-area: economy;
}
